@(userForm: Form[ProfileViewModel])

@import helper._

@main("User", nav = "user") {
    @helper.form(action = routes.UserController.update()) {
        <fieldset>
            <legend>Account information</legend>
            @inputText(
                userForm("user.name"),
                '_label -> "Name",
                '_help -> "Please provide your first name.",
                '_error -> userForm.globalError
            )
            @inputText(
                userForm("user.email"),
                '_label -> "Email",
                '_help -> "Enter a valid email address."
            )
            @inputPassword(
                userForm("user.password"),
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            @inputPassword(
                userForm("user.repeatPassword"),
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again.",
                '_error -> userForm.globalError
            )
        </fieldset>
        <fieldset>
            <legend>Favourite team</legend>
            @tupleSelect(
                userForm("favTeam"),
                options(),
                '_label -> "Favourite team",
                '_default -> ("-1" -> "-- Select team --"),
                'id -> "favTeam"
            )
        </fieldset>
        <fieldset>
            <legend>Credit Card information</legend>
            @select(
                userForm("type"),
                options(Seq("VISA", "MasterCard")),
                '_label -> "Card type",
                '_default -> "-- Select type --"
            )
            @inputText(
                userForm("cardNumber"),
                '_label -> "Card number",
                '_error -> userForm.globalError
            )
            <!-- Couldn't find helper for this -->
            <dl id="expiration_field">
                <dt>
                    <label for="expirationMonth">Expiration date</label>
                </dt>
                <dd>
                    <span>Month: </span>
                    <select id="expirationMonth" name="expirationMonth">
                        @for(i <- 1 to 12) {
                            <option value="@i">@i</option>
                        }
                    </select>
                    <span>Year: </span>
                    <select id="expirationYear" name="expirationYear">
                        @for(i <- 2010 to 2030) {
                            <option value="@i">@i</option>
                        }
                    </select>
                </dd>
            </dl>
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-primary" value="Save">
        </div>
    }
    <script src="@routes.Assets.versioned("javascripts/teams.js")"></script>
}